<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take infomation</title>
</head>
<body>
    <form action="" method="POST">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" required placeholder="Nhập tên" /></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email" required placeholder="Nhập số điện thoại" /></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="text" name="phone" required placeholder="Nhập số điện thoại" /></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" name="address" required placeholder="Nhập địa chỉ" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" /></td>
            </tr>
        </table>
    </form>
    <div>{listUser}</div>
    
</body>
</html>